@font-face {
    font-family: 'Aller-Light';
    src: url('../fonts/aller_lt-webfont.eot');
    src: url('../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_lt-webfont.woff2') format('woff2'),
         url('../fonts/aller_lt-webfont.woff') format('woff'),
         url('../fonts/aller_lt-webfont.ttf') format('truetype'),
         url('../fonts/aller_lt-webfont.svg#aller_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DustismoRoman';
    src: url('../fonts/dustismo_roman-webfont.eot');
    src: url('../fonts/dustismo_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dustismo_roman-webfont.woff2') format('woff2'),
         url('../fonts/dustismo_roman-webfont.woff') format('woff'),
         url('../fonts/dustismo_roman-webfont.ttf') format('truetype'),
         url('../fonts/dustismo_roman-webfont.svg#dustismo_romanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Aller';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff2') format('woff2'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.ttf') format('truetype'),
         url('../fonts/aller_rg-webfont.svg#allerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
  background-color: rgb(255, 255, 255);
  font: Regular 0.875em/1.38 'Aller Light';
  color: rgb(58, 58, 58);
}

.logo-warwick {
	height: 120px; 
	float:right; 
	margin-right:-37px; 
	top: 1.2em
}

.page-about {
  color: rgb(200, 200, 200);
}

.page-index {
  font-family: Aller-Light;
  font-weight: normal;
  color: rgb(200, 200, 200);
}

.page-links,
.page-search-result {
  font-family: 'Dustismo Roman';
  color: rgb(225, 127, 0);
  background-color: rgba(92, 150, 210, 0.33);
}

.page-events,
.page-objects {
  color: rgb(58, 58, 58);
}

.page-timeline {
  font-family: Aller-Light;
  font-weight: normal;
  color: rgb(58, 58, 58);
}

.page-collections {
  background-color: rgba(92, 150, 210, 0.33);
}

#collection-items h2 {
  text-align: center;
  padding-top: 400px;
}

.about-contents article {
  float: left;
  width: 57.4999999999%;
  height: 25.5em;
}

.collaborators-contents h4 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 174px;
  margin: 0 auto;
  font: 0.857em/1.38 Aller;
  text-align: center;
  color: rgb(0, 0, 0);
}

.contributors-contents article {
  width: 100%;
  height: auto;
  position:absolute;
  padding-top: 30px;
  margin: 0 auto;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(200, 200, 200);
}

.contributors-contents h2,
.editorial-contents h2 {
  margin: 0 auto;
  font-family: 'Dustismo Roman';
  text-align: center;
}

.contributors-contents li {
  float: left;
  font-size: 0.929em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 181, 86);
}

.contributors-contents ul {
  width: 100%;
  height: auto;
  margin: 1.929em auto 1em;
}

.event-contents button {
  float: left;
  width: 23.5171696149%;
  height: 2em;
  margin-top: 5.063em;
  border-bottom-width: 0.125em;
  border-bottom-color: rgb(225, 127, 0);
  border-radius: 0.188em;
  background-color: rgb(255, 181, 86);
  font-family: Aller;
  font-size: 1.143em;
  color: rgb(0, 0, 0);
}

.event-node h2 {
  position: absolute;
  top: 0;
  left: -0.0027371764%;
  z-index: 3;
  font-family: 'Dustismo Roman';
}

.external-links a {
  float: left;
  width: 100%;
  text-align: center;
  height: auto;
  min-height: 2em;
  font-family: 'Aller Light';
  font-size: 1em;
  color: rgb(58, 58, 58);
}

#sort-links {
  color: black;
  text-align: center;
}

.pagination-nav {
  position: relative;
  height: 50px;
  width: 70%;
  text-align: center;
  margin: auto;
}

.pagination_previous {
  text-align: left;
  display: inline-block;
  position: static;
  float:left;
}

.pagination_next {
  text-align: right;
  display: inline-block;
  margin-left: 20%;
  float: right;
}

.page-input input {
  width: 50px;
}

.page-input {
  display: inline-block;
  width: 140px;
  color:grey;
  margin-left: 200px;
}


.external-links a:hover {
  text-decoration: underline;
}

.external-links li {
  float: left;
  width: 100%;
  height: auto;
  min-height: 1.571em;
}

.external-links ul {
  float: left;
  width: 100%;
  height: auto;
}

.external-links-contents h2 {
  text-align: center;
}

.hero-contents article {
  float: left;
  width: 36.9791666666%;
  height: 24.5em;
  margin-top: 1.143em;
}

.masthead h2 {
  margin: 0.84em auto 0;
  text-align: center;
  font-family: DustismoRoman;
}

.object h2 {
  position: absolute;
  top: 0;
  left: 28.4441489361%;
  z-index: 24;
  font-family: 'Dustismo Roman';
}

.object img {

  float: left;
  clear: both;
  width: 300px;
  margin-top: 0.071em;
}

.object nav {
  position: relative;
  float: left;
  z-index: 23;
  width: 99.8706210191%;
  height: 1.571em;
  margin-top: 2.857em;
}

.object-contents h4 {
  position: relative;
  float: left;
  clear: both;
  z-index: 17;
  width: 30%;
  height: 1.143em;
  margin-top: 0.714em;
}

.object-description button {
  float: left;
  clear: both;
  width: 59.9992340686%;
  height: 2.071em;
  /* margin-top: 1.786em; */
  border-bottom-width: 0.143em;
  border-bottom-color: rgb(225, 127, 0);
  border-radius: 0.214em;
  background-color: rgb(255, 181, 86);
  font-size: 0.9em;
  color: rgb(0, 0, 0);
}

.event-contents button:active,
.object-description button:active {
  border-bottom-width: 0;
}

.object-display h2 {
  position: absolute;
  top: 25em;
  left: 0;
  right: 0;
  z-index: 10;
  width: 99.8188405797%;
  margin: 0 auto;
  font-family: DustismoRoman;
  text-align: center;
}

.object-display h3 {
  position: absolute;
  top: 29em;
  left: 0;
  right: 0;
  z-index: 9;
  width: 99.8188405797%;
  margin: 0 auto;
}

.object-location img {
  float: left;
  width: 470px;
}

.object-prev-next a {
  font-size: 1.143em;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

.related-links li {
  float: left;
  width: 100%;
  height: 1.143em;
}

.related-links ul {
  float: left;
  clear: both;
  width: 66.6666666666%;
  height: 1.143em;
  margin-top: 0.786em;
}

form {
  height: 40px;
  width: 100%;
}

.form-group {
  height: 35px;
}

.searchresults input {
  width: 28.4166666666%;
  margin: 20px auto;
  font-family: Helvetica;
  font-weight: 400;
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative;
}

.searchresults input:hover {
  border-bottom: 0.154em solid rgb(225, 127, 0);
}

.summary-contents article {
  float: left;
  width: 59.4791666666%;
  height: 25.714em;
}

.teammate1-contents h3,
.teammate2-contents h3 {
  margin: 1.385em auto 0;
}

.teammate3-contents h3,
.teammate4-contents h3 {
  margin: 1.462em auto 0;
}

.weekly-objects a {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1em;
  color: rgb(58, 58, 58);
}

.weekly-objects h2 {
  position: absolute;
  top: 0;
  left: -0.1221498372%;
  z-index: 9;
  font-family: 'Dustismo Roman';
}

.weekly-objects li {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.357em;
}

.weekly-objects ul {
  position: relative;
  float: left;
  width: 56.0975609756%;
  height: 4.071em;
  margin-top: 3.357em;
}

a {
  display: block;
  line-height: 1.38;
}

article button {
  width: 100%;
  height: 2.333em;
  margin: 13.619em auto 0;
  border-width: 0.048em;
  border-color: #d94e3b;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-radius: 0.238em;
  background-color: #cb3b27;
  box-shadow: 0 9px 0 #84261a;
  font-family: Arial;
  font-size: 1.5em;
  color: rgb(255, 255, 255);
}

article button:active {
  box-shadow: 0 2px 0 #84261a;
  -ms-transform: translate(0px,7px); /* IE 9 */
  -webkit-transform: translate(0px,7px); /* Chrome, Safari, Opera */
  transform: translate(0px,7px); /* Standard syntax */
}

.location h2,
.object-description h2,
.related-links h2,
article h2 {
  float: left;
  font-family: 'Dustismo Roman';
}

button {
  display: block;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
}

div input {
  position: absolute;
}

div section {
  position: relative;
  float: left;
  width: 57.4999999999%;
  height: 28.143em;
}

footer {
  float: left;
  clear: both;
  width: 100%;
  height: auto;
  background-color: rgb(253, 177, 63);
}

footer .send {
  margin-top: 16em;
  width:80px;
}

footer h2 {
  margin: 0 auto;
  font-family: 'Dustismo Roman';
  text-align: center;
  color: rgb(53, 53, 53);
}

footer img {
  float: left;
  width: 42px;
  border-radius: 150px;
}

footer input {
  left: -0.0710227273%;
  width: 100%;
  height: 1.769em;
  background-color: rgb(242, 242, 242);
  font-family: 'Dustismo Roman';
  font-weight: 400;
  color: rgb(179, 179, 179);
}

.disclaimer-contents {
  float: left;
  clear: both;
  width: 100%;
  height: auto;
  margin-top: 1.714em;
  background-color: rgb(0, 0, 0);
}

.disclaimer-statement {
  margin: 1em auto 0;
  font-size: 0.714em;
  line-height: 1.38;
  text-align: center;
  color: rgb(50, 78, 107);
  width: 70%;
}

h1 {
  position: absolute;
  top: 0.9em;
  left: 0;
  z-index: 35;
  padding: 0.025em;
  font: 2.857em/1.38 DustismoRoman;
  color: rgb(225, 127, 0);
}

h2 {
  font-size: 1.786em;
  line-height: 1.38;
}

h3 {
  font-size: 0.929em;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 181, 86);
}

.related-links a,
h4 a {
  float: left;
  font-family: Aller;
  font-size: 0.857em;
  color: rgb(0, 0, 0);
}

h5 {
  margin: 0 auto;
  font-size: 0.786em;
  line-height: 1.38;
  text-align: center;
  color: rgb(253, 218, 135);
}

h6 {
  float: left;
  clear: both;
  font-size: 0.786em;
  line-height: 1.38;
  color: rgb(58, 58, 58);
}

header {
  float: left;
  width: 100%;
  height: 16.429em;
}

header a {
  position: absolute;
  top: 0;
  padding: 0.385em;
  font-family: Aller;
  font-size: 0.929em;
  color: rgb(92, 150, 210);
}

header a:active {
  border-bottom-width: 0;
  border-bottom-style: none;
  color: rgb(160, 207, 255);
}

header a:focus {
  border-bottom-width: 0.154em;
  border-bottom-color: rgb(225, 127, 0);
}

header img {
  position: absolute;
  top: 0;
  right: 0.0830078125%;
  z-index: 33;
  width: 204px;
}

header input {
  top: 11.308em;
  right: 0.0830078125%;
  z-index: 18;
  width: 28.4169750231%;
  color: rgb(160, 207, 255);
}

header input:active {
  border-bottom: 0.077em solid rgb(225, 127, 0);
}

header nav {
  position: absolute;
  top: 8em;
  right: -0.1041666667%;
  z-index: 32;
  width: 49.0625%;
  height: 1.929em;
}

header section {
  float: left;
  width: 100%;
}

img {
  display: block;
  height: auto;
  overflow: hidden;
}

input {
  display: block;
  padding: 0 0.769em;
  font-size: 0.929em;
  line-height: 1.38;
}

nav li {
  height: 1.929em;
  font-size: 1em;
}

nav ul {
  position: absolute;
  top: 0;
  left: -0.0040167096%;
  z-index: 31;
  width: 100%;
  height: 1.929em;
}

section button {
  border-bottom-style: solid;
}

section h2 {
  color: rgb(225, 127, 0);
}

section input {
  height: 1.923em;
  border-radius: 0.154em;
  background-color: rgba(92, 150, 210, 0.33);
}

textarea {
  display: block;
  position: absolute;
  top: 4.923em;
  left: -0.0710227273%;
  z-index: 48;
  width: 100%;
  height: 10.462em;
  padding: 0.385em;
  background-color: rgb(242, 242, 242);
  font: 400 0.929em/1.38 'Dustismo Roman';
  color: rgb(179, 179, 179);
  resize: none;
}

#slider-control-nav {
  display:none;
}

.about-text p,
.event-details p,
.logo-collaborators p,
.object-description-2 p,
.summary-text p,
div article p {
  margin-bottom: 1em;
}

.about-contents {
  position: relative;
  top: 4.5em;
  left: 0;
  right: 0;
  z-index: 25;
  width: 960px;
  height: 25.5em;
  margin: 0 auto 10em;
}

.about-index-contents {
  float: left;
  width: 31.9791666666%;
  height: auto;
}

.about-index-desc {
  float: left;
  clear: both;
  width: 99.7362012987%;
  min-height: 13.214em;
  margin-top: 0.571em;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(58, 58, 58);
}

.about-text {
  float: left;
  clear: both;
  width: 100%;
  min-height: 14.286em;
  margin-top: 0.714em;
  font: normal 1em/1.38 Aller-Light;
  color: rgb(200, 200, 200);
}

.admin-bar {
  height: 2.143em;
  background-color: rgb(12, 12, 12);
}

.calendar {
  position: relative;
  float: left;
  width: 80px;
  height: 8.071em;
}

.collaborators {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 20.071em;
  border-top: 0.214em solid rgb(225, 127, 0);
  background-color: rgb(255, 255, 255);
}

.collaborators-contents {
  position: absolute;
  top: 2.071em;
  left: 0;
  right: 0;
  z-index: 6;
  width: 960px;
  height: 13.429em;
  margin: 0 auto;
}

.contact-contents {
  position: relative;
  float: left;
  width: 27.5%;
  height: 20.429em;
  margin-left: 8.54167%;
}

.contact-form {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 17.071em;
  margin-top: 0.929em;
}

.contributors {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 55em;
  border-bottom: 0.214em solid rgb(50, 78, 107);
  background-color: rgb(131, 80, 0);
}

.contributors-contents {
  position: absolute;
  top: 2.143em;
  left: 0;
  right: 0;
  z-index: 4;
  width: 796px;
  height: 35em;
  margin: 0 auto;
}

.date {
  float: left;
  margin: 0.25em 0 0 20.52469%;
  font: 400 2.857em/1.38 Aller;
  color: rgb(255, 255, 255);
}

.date-bg {
  position: absolute;
  top: 2.714em;
  left: 0;
  z-index: 7;
  width: 81px;
  height: 5.357em;
  background-color: rgb(92, 150, 210);
}

.editorial {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 25em;
  border-top: 0.214em solid rgb(225, 127, 0);
  background-color: rgb(50, 78, 107);
}

.editorial-contents {
  position: absolute;
  top: 1.357em;
  left: 0;
  right: 0;
  z-index: 19;
  width: 961px;
  height: 22.286em;
  margin: 0 auto;
}

.ehrc {
  position: absolute;
  top: 2.5em;
  left: 210px;
  z-index: 3;
  font: 400 1.429em/0.18 Aller;
  color: rgb(0, 0, 0);
}

.email {
  top: 2.385em;
  z-index: 47;
}

.embed-timeline {
  float: left;
  width: 100%;
  height: 11.643em;
  background-color: rgb(222, 222, 222);
}

.event-contents {
  width: 960px;
  height: 16.071em;
  margin: 2.857em auto 0;
}

.event-details {
  position: absolute;
  top: 2.857em;
  left: 0;
  z-index: 4;
  width: 99.8604040072%;
  min-height: 9.286em;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(58, 58, 58);
}

.event-node {
  position: relative;
  float: left;
  width: 59.4400364203%;
  height: 16.071em;
  margin-left: 6.65365%;
}

.external-links {
  float: left;
  clear: both;
  width: 100%;
  height: auto;
  min-height: 100px;
  margin-top: 0.857em;
}

.external-links-contents {
  top: 3.214em;
  padding-top: 50px;
  left: 0;
  right: 0;
  z-index: 16;
  width: 960px;
  height: auto;
  margin: 0 auto;
}

.external-links-contents:first-child {
  padding-top: 30px;
}

.fb {
  margin-left: 27.78623%;
}

.footer-contents {
  width: 60%;
  height: auto;
  margin: 2.929em auto 0;
}

.header {
  position: relative;
  clear: both;
  height: 14.286em;
  background-color: rgb(12, 22, 31);
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 36;
  width: 960px;
  height: 12.286em;
  margin: 0 auto;
}

.hero {
  float: left;
  clear: both;
  width: 100%;
  height: 31.857em;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-position: center center;
  /*background-attachment: fixed; */
}

.hero-contents {
  width: 960px;
  height: 28.143em;
  margin: 2.357em auto 0;
}

.home {
  left: -1.7323369566%;
  z-index: 19;
}

.home:active {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
}

.hrf {
  position: absolute;
  top: 2.5em;
  left: 450px;
  z-index: 4;
  font: 400 1.429em/0.18 Aller;
  color: rgb(0, 0, 0);
}

.img {
  float: left;
  width: 40.4166666666%;
  height: 25.429em;
  margin-top: 4.286em;
  margin-left: 1em;
  background-image: url('../images/Napoleon2015.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.introduction {
  float: left;
  clear: both;
  width: 100%;
  min-height: 14.286em;
  margin-top: 0.429em;
  font-size: 0.9em;
  line-height: 1.38;
  color: rgb(200, 200, 200);
}

.links {
  left: -0.4616477273%;
  z-index: 29;
}

.links-page {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  background-color: rgba(92, 150, 210, 0.33);
}

.location {
  position: relative;
  float: left;
  clear: both;
  z-index: 15;
  width: 48.9583333333%;
  height: 14.857em;
  margin-top: 2.357em;
}

.logo-collaborators {
  position: relative;
  width: 83.0208333333%;
  height: 9.143em;
  margin: 4.286em auto 0;
}

.masthead {
  float: left;
  width: 100%;
  height: 5.857em;
  border-bottom: 0.214em solid rgb(225, 127, 0);
  background-color: rgb(50, 78, 107);
}

.month {
  float: left;
  margin: 0.25em 0 0 30.55556%;
  font: normal 1.429em/1.38 Aller;
  color: rgb(160, 207, 255);
}

.month-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 81px;
  height: 2.714em;
  background-color: rgb(50, 78, 107);
}

.name {
  top: 0;
  z-index: 46;
}

.next {
  float: right;
  position: relative;
  top: -1.5em;
}

.object {
  position: relative;
  float: left;
  z-index: 25;
  width: 48.9583333333%;
  height: auto;
  margin-top: 3.357em;
}

.object-contents {
  position: relative;
  width: 960px;
  height: 64.5em;
  margin: 0 auto;
}

.object-description .object-description {
  float: left;
  clear: both;
  width: 100%;
  height: auto;
  margin-top: 0.929em;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(58, 58, 58);
}

.object-location {
  float: left;
  clear: both;
  width: 100%;
  height: 12em;
  margin-top: 0.429em;
}

.object-permission {
  width: 98.0891719745%;
}

.object-slider {
  position: relative;
  float: left;
  z-index: 8;
  width: 90%;
  height: 18em; /* down from 24.517 */
  /* background-image: url('../images/image-placeholder-550.jpg'); */
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-position: center center;
}

.object-source {
  margin-top: 1em;
}

.prev {
  float: left;
}

.related-links {
  position: relative;
}

.searchresults {
  float: left;
  clear: both;
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}

.searchresults-display {
  float: left;
  clear: both;
  width: 80%;
  height: 32.643em;
  margin: 2.143em 0 0 10%;
}


.site-navigation .about {
  left: -0.3676470589%;
  z-index: 21;
}

.site-navigation .events {
  left: -0.3693181819%;
  z-index: 27;
}

.site-navigation .objects {
  left: -0.3073770492%;
  z-index: 25;
}

.site-navigation .timeline {
  left: -0.5770617938%;
  z-index: 23;
}

.social-container {
  float: left;
  width: 23.5416666666%;
  height: auto;
  margin-left: 8.4375%;
}

.social-links {
  float: left;
  clear: both;
  width: 100%;
  height: 3.071em;
  margin-top: 14.929em;
}

.subtitle {
  position: absolute;
  top: 5.25em;
  left: 0;
  z-index: 34;
  font: 1.143em/1.38 Aller;
  color: rgb(92, 150, 210);
}

.summary-contents {
  float: left;
  clear: both;
  width: 100%;
  height: 25.714em;
  margin-top: 3.786em;
}

.summary-text {
  float: left;
  clear: both;
  width: 100%;
  min-height: 14.286em;
  margin-top: 0.929em;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(58, 58, 58);
}

.teammate1 {
  width: 10.214em;
  height: 10.214em;
  margin: 0 auto;
  border-radius: 150px;
  background: url('../images/Kate_2_small_square.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.teammate1-contents {
  position: relative;
  float: left;
  clear: both;
  z-index: 17;
  width: 14.214em;
  height: 17.857em;
  margin-top: 2em;
}

.teammate2 {
  width: 10.214em;
  height: 10.214em;
  margin: 0 auto;
  border-radius: 150px;
  background: url('../images/Mark_small.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.teammate2-contents {
  position: relative;
  float: left;
  z-index: 13;
  width: 14.214em;
  height: 17.857em;
  margin-top: 2em;
  margin-left: 10px;
}

.teammate3 {
  width: 10.214em;
  height: 10.214em;
  margin: 0 auto;
  border-radius: 150px;
  background: url('../images/kate_astbury_square.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.teammate3-contents {
  position: relative;
  float: left;
  z-index: 9;
  width: 14.214em;
  height: 17.857em;
  margin-top: 2em;
  margin-left: 10px;
}

.teammate4 {
  width: 10.214em;
  height: 10.214em;
  margin: 0 auto;
  border-radius: 150px;
  background: url('../images/Clayton_Headshot_small.jpg') rgba(222, 222, 222, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
}

.teammate4-contents {
  position: relative;
  float: left;
  z-index: 9;
  width: 14.214em;
  height: 17.857em;
  margin-top: 2em;
  margin-left: 0px;
}

.twitter {
  margin-left: 12.5%;
}

.weekly-objects {
  position: relative;
  float: left;
  width: 31.9791666666%;
  height: 7.429em;
  margin-left: 8.54167%;
}

.weekly-timeline {
  width: 960px;
  height: 41.143em;
  margin: 0 auto;
}

.about-2 {
  position: relative;
  width: 100%;
  height: 700px;
  margin: 0 auto;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.events-2 {
  float: left;
  clear: both;
  width: 100%;
  height: 650px;
  background-color: rgba(92, 150, 210, 0.33);
}

.event2 {
  height: 450px !important;
}

.event3 {
  height: 300px;
}

.image-1 {
  float: left;
  width: 200px;
  margin-top: 0;
}

.image-2 {
  float: right;
  width: 120px;
}

.object-description-1 {
  position: absolute;
  top: 3.357em;
  left: 57.4999999999%;
  z-index: 12;
  width: 42.5%;
  height: 54.571em;
}

.objects-2 {
  overflow: auto;
  float: left;
  clear: both;
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  background-color: rgba(92, 150, 210, 0.33);
}

.related-links-1 {
  position:relative;
  float:left;
  width: 37.7777777777%;
  height: 10em;
  margin-top: 18em;
  margin-left: -29.5em;
}

.timeline-2 {
  float: left;
  clear: both;
  width: 100%;
  height: 48.714em;
  background-color: rgba(92, 150, 210, 0.33);
}

.external-links ._container-12,
.external-links ._container-15,
.external-links ._container-19 {
  clear: both;
}

.site-navigation ._container-2 {
  position: absolute;
  top: 0;
  left: -0.0040167096%;
  z-index: 20;
  width: 11.825192802%;
}

.site-navigation ._container-3 {
  position: relative;
  float: left;
  width: 13.1105398457%;
  margin-left: 16.94865%;
}

.site-navigation ._container-4 {
  position: relative;
  float: left;
  width: 16.7095115681%;
  margin-left: 2.82312%;
}

.site-navigation ._container-5 {
  position: relative;
  float: left;
  width: 15.6812339331%;
  margin-left: 1.53928%;
}

.site-navigation ._container-6 {
  position: relative;
  float: left;
  width: 14.1388174807%;
  margin-left: 2.82312%;
}

.site-navigation ._container-7 {
  position: relative;
  float: left;
  width: 11.3110539845%;
  margin-left: 4.86996%;
}

.weekly-objects ._container-16 {
  top: 2.714em;
  z-index: 7;
}

.weekly-objects ._container-18 {
  top: 1.357em;
  z-index: 5;
}

.weekly-objects ._container-24 {
  top: 0;
  z-index: 3;
}

.weekly-objects ._text-4 {
  z-index: 6;
}

.weekly-objects ._text-6 {
  z-index: 4;
}

.weekly-objects ._text-9 {
  z-index: 2;
}


h5.searchresults1 {
  margin-top: 10px;
  color: black;
  font-family: Helvetica;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:14px;
  font-weight: 100;
  font-family: Aller;
  padding:24px;
  text-align:center;
  vertical-align:middle;
}

table.search-results {
  width: 70%;
  margin: 0 auto;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
.item {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  font-family: Aller-Light;
  text-align: center;
}

#individualDate {
  color: black;
}

.item-file {
  margin-left:5px;
  margin-right: 5px;
  display: inline-block;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  text-align: left;
}

.fa-2x {
  position:absolute;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
}

#hidden {
  display:none;
}



#imageGallery {
  width: 100%;
}

.galleryCenter {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.image {
  height: auto;
  width: 150px;
  overflow:hidden;
}

.image img {
  background-repeat: no-repeat;
  background-size: cover;
}

 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  text-align:center;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  border-right: 1px solid #C1C3D1;
}


td:last-child {
  border-right: 0px;
  width: 150px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

td a {
  color: #666B85;
}

td:hover a{
  color: #FFFFFF;
}

.search-results input {
  margin: 0 auto;
}

table {
  width: 50%;
  margin: 0 auto;
}

#tweecool {
  width: 100%;
  height: auto;
}

.tweets_txt {
  font-family: Aller-Light;
  font-size: 15px;
  margin-top: 10px;
  margin-left: 50px;
  color: rgb(58,58,58);
  overflow: hidden;
}

.tweets_txt span {
  font-size: 12px;
  font-style: italic;
  color: gray;
}

/* My additions  */

#slider-loading-wrapper {
	position:relative;
	text-align:center;
	width:100%;
}

#slider-direction-nav{
  margin-top:10%;
}

#slider-loading-img {
	background-repeat:no-repeat;
	background-position:center;
	background-image:url(../images/loading@2x.gif);
	height:200px;
	margin-left:40%;
	margin-top:10%;
	width:20%;
}

.slides {
	width:100%;
	height: 28.143em;
	position:absolute;
}

.slides .object-date{
	position:relative;
	display:block;
	text-align:center;
	top: -3.2em;
	margin-top:0.64em;
	z-index: 10;
	width: 100%;
}

#slide2 img{
  margin: 0 auto;
  width: auto;
}

.slides img{
	margin-top: 0.429em;
	width:100%;
	max-height:28.143em;
  padding-bottom: 90px;
  padding-top: 10px;
}

.slider-item .content {
	padding-top:30px !important;
	padding-bottom:30px !important;
	border-collapse:collapse !important;
	vertical-align:top !important;
}

#timeline-summary-wrapper {
	width:80%;
	margin-left:10%;
	margin-top:20px;
	overflow:hidden;
}

.weekly-summary {
	width:65%;
	margin-right:5%;
	float:left;
}

.weekly-objects {
	width:30%;
	float:left;
	margin-left:0px;
}

.objects-page-display {
position:relative;
float:none;
width: 100%;
}

.objects-contents {
width: 80%;
margin-left:10%;
margin-right:10%;
}

.object-slides {
width: 100%;
}

.object-slide1 {
float:left;
width: 47.5%;
margin-right:2.5%;
}

.object-slide2 {
float:left;
width: 47.5%;
margin-left:2.5%;
}

.objects-slider-wrapper {
	margin-top:30px;
}

.objects-slider-wrapper h3{
	text-align:left;
}

.object-img-wrapper {
	width:100%;
	height: 28.143em;
}

.vco-container{
  background-color: rgba(92, 150, 210, 0.33);
}

.header a{
  width: 100%;
}
.map {
  height: 150px !important;
  width: 100%;
  display: -moz-inline-box;
}

.pager {
  font-size: 0.75em;
}

.events-indi{
  margin: 0 auto;
  width: 100%;
  background-color: rgba(92, 150, 210, 0.33);
}

.events-indi p{
  text-align: center;
}

.hiddenfile {
  display: none;
}

.current map{
  position: relative;
  width: 100%;
  z-index: 100;
}

.nav-pills {
  position: relative;
  width: 70%;
  height: 400px;
  padding-top: 370px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-pills li {
  display: inline-block;
  width: 15%;
  margin: 0 auto;
}

.nav-pills-search {
  position: relative;
  width: 50%;
  height: 135px;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-pills-search li {
  display: inline-block;
  width: 15%;
  margin: 8px auto;
  font-family: 'Aller Light';
}

.nav-pills-map {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.nav-pills-map li {
  margin-top: 13px;
  margin-bottom: 8px;
  width: 15%;
  display: inline-block;
  font-family: 'Aller Light';
}


.active {
  font-weight: 700;
  text-decoration: underline;
}

.browse-items {
  width: 960px;
  margin: 0 auto;
}

.item_browse {
  display:block;
  width: 70%;
  height:auto;
  min-height: 100px;
  margin: 20px auto;

}

.item_browse:nth-child(odd) {
  background-color: #eee;
}

.imgBrowse {
  float: left;
  margin-right: 10px;
  width: 12%;
  height: auto;
  min-height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

.browseDesc {
  font-size: 0.8em;
  color: rgb(58, 58, 58);
  line-height: 1.5;
  margin-right: 10px;
}

.permalink {
  font-family: DustismoRoman;
  font-weight: 700;
  font-size: 1.2em;
  margin-top: 5px;
}

.permalink:hover {
  color: rgb(225, 127, 0);
}

.page-browse {
  background-color: rgba(92, 150, 210, 0.33);
  height: auto;
  min-height: 600px;
  padding-bottom: 0px;
}


hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

.sfb {
  width: 50%;
  margin: 20px auto;
}
.sfb #search-form {
  width: 50%;
  margin: 20px auto;

}

.sfb #search-form input {
  width: 80%;
  margin: 0 auto;
  height: 1.923em;
  border-radius: 0.154em;
  background-color: rgba(92, 150, 210, 0.33);
  font-family: Helvetica;
  font-weight: 400;
  text-align: center;
  color: rgb(58, 58, 58);
  position: relative;
}

.searchStatement {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: rgb(58, 58, 58);
  padding-top: 50px;
}

.browseStatement {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  color: rgb(58, 58, 58);
  padding-top: 20px;
  line-height: 1.2;  
}

#geolocation-browse {
  width: 960px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: rgba(92, 150, 210, 0.33);
}

#map_browse {
  min-height: 400px;
}

#map-links h2{
  color: rgb(58,58,58);
  font-family: DustismoRoman;
  font-size: 1.4em;
  margin-bottom: 30px;
}

em {
  font-weight: 700;
}

/* Settings for Contacts Us bit */

.mailer {
  color: rgb(58, 58, 58);
  text-align: center;
}

.mailer i {
  font-size: 6em;
  color: rgb(58,58,58);
  opacity: 1;
  transition: ease-in-out;
  -moz-transition: ease-in-out;
  -webkit-transition: ease-in-out;
}

.mailer i:hover {
  color: white;

}


/* Settings for Contacts Page */

.page-contacts {
  height: 1000px;
  background-color: rgba(92, 150, 210, 0.33);
  color: rgb(58,58,58); 
}

.page-contacts textarea {
  position:relative !important;
}

#simple-contact {
  width: 960px;
  margin: 0 auto;
}

#simple-contact form {
  margin-top: 60px;
  height: 400px;
}

.item.hentry {
  width: 50%;
  margin: 0 auto;
  padding-top: 3em;
}

.item.hentry h3 {
  font-size: 1.9em;
  font-family: 'Aller Light';
}

.item.hentry .item-description {
  padding-bottom: 20px;
}

.item-img {
  width: 300px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  margin: 10px auto;
}

#collection-items p {
  text-align: center;
  color: rgb(58, 58, 58);
  margin-top: 30px;
  padding-bottom: 30px;
}

@media(max-width: 956px) {
  logo-warwick {
    height: 180px;
}

  #geolocation-browse {
    width: 80%;
  }

  .nav-pills-search {
    height: 145px;
  }
  .about-contents article {
    position: relative;
    z-index: 24;
    width: 100.2645502645%;
    height: 36.857em;
    margin-left: -0.26152%;
  }

  .collaborators-contents h4,
  .object-display h2,
  .object-display h3 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .editorial-contents h2 {
    width: 92.4528301886%;
  }

  .event-contents button {
    float: none;
    margin-top: 38.438em;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
  }

  .hero-contents article {
    float: none;
    width: 72.480620155%;
    margin-top: 2.214em;
    margin-right: auto;
    margin-left: auto;
  }

  .object img {
    width: 350px;
  }

  .object nav {
    position: relative;
    z-index: 23;
  }

  .object-contents h4 {
    position: relative;
    float: none;
    clear: none;
    z-index: 17;
    width: 39.303482587%;
    margin-right: auto;
    margin-left: auto;
  }

  .object-description button {
    float: none;
    clear: none;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .related-links ul {
  	width: 100%;
  }

  .object-location img {
    width: 390px;
    margin-top: 0.929em;
    margin-left: -0.00401%;
  }

  .about-index-contents .about-index-desc,
  .external-links-contents .external-links,
  .location .object-location,
  .related-links ul,
  .social-container .social-links {
    float: none;
    clear: none;
    margin-right: auto;
    margin-left: auto;
  }

  .searchresults input {
    width: 244px;
  }

  .summary-contents article {
    float: none;
    width: 93.927125506%;
    height: 30.429em;
    margin-right: auto;
    margin-left: auto;
  }

  .weekly-objects h2 {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .weekly-objects ul {
    float: none;
    margin-top: 0.929em;
    margin-right: auto;
    margin-left: auto;
  }

  .weekly-summary h2 {
    margin-right: auto;
    margin-left: auto;
  }

  article h2 {
    text-align: center;
  }

  div h1 {
    top: 1.175em;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  div h6 {
    float: none;
    clear: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  div img {
    height: auto;
  }

  div section {
    float: none;
    width: 100%;
    height: 28.786em;
    margin-right: auto;
    margin-left: auto;
  }

  footer {
    height: auto;
  }

  footer button {
    margin-left: 61.72766%;
  }

  .external-links-contents h2,
  .location h2,
  .object-description h2,
  .related-links a,
  .related-links h2,
  h4 a {
    float: none;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  header img {
    position: static;
    float: left;
    top: auto;
    left: auto;
    right: auto;
    width: 134px;
    margin-left: 36.6%;
  }

  header input {
    top: 13em;
    right: 25.6%;
    width: 252px;
    text-align: center;
  }

  header nav {
    top: 8.857em;
    right: 0;
    width: 100%;
  }

  .about .about-contents {
    left: 0;
    right: 0;
    width: 472px;
    height: 44.357em;
    top: -240px;
    margin-right: auto;
    margin-left: auto;
  }

  .about .about-text {
    position: absolute;
    float: none;
    clear: none;
    top: 3em;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .about h2 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .about-contents .img {
    position: relative;
    clear: both;
    z-index: 21;
    width: 60%;
    margin-left: 90px;
    background-position: center center;
  }

  .collaborators {
    height: 33.786em;
  }

  .collaborators .collaborators-contents {
    left: 0;
    right: 0;
    width: 264px;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }

  .collaborators-contents .logo-collaborators {
    width: 92.0454545454%;
    height: auto;
    margin-top: 2.857em;
  }

  .contributors {
    height: 80.857em;
  }

  .contributors .contributors-contents {
    left: 0;
    right: 0;
    width: 464px;
    height: 45.214em;
    margin-right: auto;
    margin-left: auto;
  }

  .editorial {
    height: 75em;
  }

  .editorial .editorial-contents {
    left: 0;
    right: 0;
    width: 265px;
    height: 63.143em;
    margin-right: auto;
    margin-left: auto;
  }

  .editorial-contents .teammate1-contents {
    position: relative;
    float: none;
    clear: none;
    height: 15em;
    z-index: 17;
    margin-right: auto;
    margin-left: auto;
  }

  .editorial-contents .teammate2-contents {
    position: relative;
    float: none;
    height: 15em;
    z-index: 13;
    margin-right: auto;
    margin-left: auto;
  }

  .editorial-contents .teammate3-contents {
    position: relative;
    float: none;
    height: 15em;
    z-index: 9;
    margin-right: auto;
    margin-left: auto;
  }

  .editorial-contents .teammate4-contents {
    float:none;
    margin-left: auto;
    margin-right: auto;
  }

  .event-contents .event-node {
    position: relative;
    z-index: 5;
    width: 80.3149606299%;
    margin-left: 3.54331%;
  }

  .events .event-contents {
    width: 508px;
    height: 26.714em;
  }

  .event2 {
    height: 600px !important;
  }

  .event3 {
    height: 25.571em !important;
  }

  .event2 button {
    margin-top: 27.438em;
  }

  .event3 button {
    margin-top: 13.438em;
  }

  .footer-contents .about-index-contents {
    position: relative;
    float: none;
    top: 0.929em;
    left: 0;
    right: 0;
    width: 100%;
    height: 15.571em;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-contents .social-container {
    position: relative;
    float: none;
    height:auto;
    left: 0;
    right: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-contents .contact-contents {
    width: 60%;
    height: auto;
    margin-top: 2em;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  .disclaimer-contents {
    margin-top: 0.3em;
    height: auto;
  }

  .header .header-content {
    left: 0;
    right: 0;
    width: 500px;
    height: 14.286em;
    margin-right: auto;
    margin-left: auto;
  }

  .header-content .subtitle {
    top: 5.5em;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .hero {
    height: 62.429em;
  }

  .hero .hero-contents {
    width: 516px;
    height: 58.286em;
  }

  .hero-contents .introduction-title {
    width: 100%;
  }

  .links-page .external-links-contents {
    left: 0;
    right: 0;
    width: 378px;
    margin-right: auto;
    margin-left: auto;
  }

  .logo-collaborators .ehrc {
    top: 5.7em;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .logo-collaborators .hrf {
    top: 9.7em;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .object .object-source {
    margin-top: 10px;
  }

  .object-contents .location {
    position: relative;
    z-index: 15;
    width: 97.0149253731%;
    margin-top: 0;
    margin-left: 1.49254%;
    height: auto;
  }

  .object-contents .object {
    position: relative;
    float: none;
    z-index: 25;
    width: 97.0149253731%;
    margin-right: auto;
    margin-left: auto;
  }

  .hero-contents .introduction,
  .object-description .object-description,
  .weekly-summary .summary-text {
    text-align: center;
  }

  .object-display .object-slider {
    position: relative;
    margin-left: 25px;
    z-index: 8;
  }

  .objects .object-contents {
    width: 402px;
    height: auto;
  }

  .searchresults .searchresults-display {
    width: 79.9996731171%;
    margin-left: 9.99935%;
  }

  .social-links .fb {
    margin-left: 27.78042%;
  }

  .summary-contents .weekly-objects {
    clear: both;
    width: 93.9024390243%;
    height: 13.643em;
    margin-top: 1.071em;
    margin-left: 3.03785%;
  }

  .timeline .weekly-timeline {
    width: 520px;
    height: 61.643em;
  }

  .weekly-timeline .embed-timeline {
    float: none;
    width: 99.5833333333%;
    margin-right: auto;
    margin-left: auto;
  }

  .weekly-timeline .summary-contents {
    float: none;
    clear: none;
    width: 100.1984126984%;
    height: 45.857em;
    margin-top: 3.714em;
    margin-right: auto;
    margin-left: auto;
  }

  .about-2 {
    position: relative;
    height: 75.571em;
    top: 16.4em;
  }

  .events-2 {
    height: 50.571em;
  }

  .logo-collaborators .image-1 {
    margin-left: 18.84774%;
  }

  .logo-collaborators .image-2 {
    float: none;
    margin-top: 18.429em;
    margin-right: auto;
    margin-left: auto;
  }

  .object-contents .object-description-1 {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    height: auto;
    z-index: 12;
    width: 97.0149253731%;
    margin-top: 3em;
    margin-right: auto;
    margin-left: auto;
  }

  .object-contents .related-links-1 {
    float: none;
    width: 68.6567164179%;
    margin-right: auto;
    margin-left: auto;
  }

  .objects-2 {
    height: auto;
  }

  .timeline-2 {
    height: 62.071em;
  }

  ._container .footer-contents-1 {
    position: relative;
    width: 261px;
    height: 56.571em;
    margin-top: 0;
  }

  .site-navigation ._container-3 {
    margin-left: 16.94688%;
  }

  .site-navigation ._container-5 {
    margin-left: 1.5375%;
  }

  .site-navigation ._container-4,
  .site-navigation ._container-6 {
    margin-left: 2.82188%;
  }

  .site-navigation ._container-7 {
    margin-left: 4.86875%;
  }

  .timeline-weekly-objects-wrapper1 {
    display: inline-block;
  }

  .timeline-summary-wrapper1 {
    width: 160%;
  }

  #storyjs-timeline .container {
    text-align: center;
  }

  .browse-items {
    width: 80%;
  }

  .imgBrowse {
    width: 20%;
  }

  .page-input {
    margin-left: 0;
  }
}


@media(max-width: 530px) {
  body {
    font-size: 0.75em;
  }

  .page-input {
    margin-left: 0;
  }

  .event-title {
    width: 100%;
    text-align: center;
  }

  .item.hentry {
    width:80%;
  }

  .nav-pills {
    width: 90%;
  }

  .nav-pills-search {
    width: 90%;
  }

  .nav-pills-map {
    width: 90%;
  }

  .imgBrowse {
    width: 30%;
  }

  .object-display {
    margin-top: -90px;
    left: -14px;
    height: 380px;
  }

  #slider-direction-nav {
    top: 140px !important;
  }

  .about-contents article {
    position: relative;
    z-index: 24;
    height: 43em;
    margin-left: -0.25809%;
  }

  .collaborators-contents h4 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 1em;
  }

  .contributors-contents article {
    min-height: 16.667em;
    margin-top: 80.583em;
    font-size: 12px;
  }

  .contributors-contents h2 {
    width: 90.3846153846%;
    font-size: 1.667em;
  }

  .contributors-contents li {
    width: 80%;
    float: none;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.083em;
    text-align: center;
  }

  .contributors-contents ul {
    width: 90.8653846153%;
    height: 1.417em;
    margin-top: 2.25em;
  }

  .event-contents button {
    width: 80%;
    margin-top: 16em;
    font-size: 1.333em;
  }

  .event2 button {
    margin-top: 3em;
  }

  .event3 {
    padding-top: 100px;
    height: 600px !important;
    z-index: -1;
  }

  .event3 .event-details {
    top: 10.333em !important;
  }

  .event3 button {
    margin-top: -14em !important;
  }


  .external-links li,
  .external-links ul {
    height: auto;
  }

  .hero-contents article {
    width: 100%;
    height: 30.333em;
    margin-top: 2em;
  }

  .object h2 {
    left: 1.4325538175%;
    width: 97.6304785504%;
    font-size: 1.833em;
    text-align: center;
  }

  .object img {
    width: 200px;
    margin-top: 0;
  }

  .object nav {
    position: relative;
    float: none;
    z-index: 23;
    width: 92.0792079207%;
    height: 1.833em;
    margin-top: 2.75em;
    margin-right: auto;
    margin-left: auto;
  }

  .object-contents h4 {
    position: relative;
    z-index: 17;
    width: 73.0769230769%;
    height: 1.333em;
    margin-top: 0.667em;
  }

  .object-description button {
    width: 93.5643564356%;
    height: 2.417em;
    margin-top: 10px;
    border-bottom-width: 0.167em;
    border-radius: 0.25em;
    font-size: 12px;
  }

  .month-bg .month,
  .object-description h2 {
    font-size: 1.667em;
  }

  .object-display h2 {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 2.083em;
  }

  .object-display h3 {
    top: 30.4em;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.833em;
  }

  .object-location img {
    width: 202px;
    margin-top: 0;
    margin-left: -0.10045%;
  }

  .object-prev-next a {
    font-size: 1.333em;
  }

  .related-links li {
    height: 1.333em;
  }

  .related-links ul {
    height: 1.333em;
    margin-top: 0.917em;
  }

  .summary-contents article {
    width: 94.2307692307%;
    height: 55.083em;
    margin-top: -0.583em;
  }

  .external-links a,
  .weekly-objects a {
    font-size: 1.167em;
  }

  .weekly-objects li {
    height: 1.583em;
  }

  .weekly-objects ul {
    height: 4.75em;
    margin-top: 1.083em;
  }

  article button {
    width: 83.0357142857%;
    height: 3.267em;
    margin-top: 20.267em;
    border-width: 0.067em;
    border-radius: 0.333em;
    font-size: 1.25em;
  }

  .editorial-contents h2,
  .event-node h2,
  .external-links-contents h2,
  .location h2,
  .masthead h2,
  .related-links h2,
  .weekly-objects h2,
  article h2,
  footer h2 {
    font-size: 2.083em;
  }

  div h1 {
    top: 3.5em;
    left: 0;
    right: 0;
    width: 92.8571428571%;
    margin-right: auto;
    margin-left: auto;
    padding: 0.04em;
    font-size: 2.083em;
  }

  div h5 {
    font-size: 0.917em;
  }

  div h6 {
    font-size: 0.917em;
  }

  div img {
    height: auto;
  }

  div section {
    height: 24.167em;
  }

  .teammate1-contents h3,
  .teammate2-contents h3,
  .teammate3-contents h3,
  div textarea,
  footer input,
  header a {
    font-size: 1.083em;
  }

  footer {
    height: 85em;
  }

  footer button {
    margin-left: 61.72747%;
    font-size: 1.333em;
  }

  .related-links a,
  h4 a {
    font-size: 1em;
  }

  header {
    height: 23em;
  }

  header img {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  header input {
    top: 15.154em;
    left: 0;
    right: 0;
    width: 196px;
    margin-right: auto;
    margin-left: auto;
  }

  header nav {
    top: 9.417em;
    left: 0;
    right: 0;
    width: 92.8571428571%;
    height: 6.583em;
    margin-right: auto;
    margin-left: auto;
  }

  nav li {
    height: 2.25em;
  }

  nav ul {
    left: 0;
    right: 0;
    height: 6.583em;
    margin-right: auto;
    margin-left: auto;
  }

  section input {
    font-size: 1.083em;
  }

  .about .about-contents {
    left: 0;
    right: 0;
    width: 224px;
    height: 76.75em;
    margin-right: auto;
    margin-left: auto;
  }

  .about .about-text {
    min-height: 16.667em;
    margin-top: 0.833em;
    font-size: 12px;
  }

  .about-contents .img {
    position: relative;
    float: none;
    clear: none;
    z-index: 21;
    width: 99.1071428571%;
    height: 51.417em;
    margin-top: 49em;
    margin-right: auto;
    margin-left: auto;
  }

  .about-index-contents .about-index-desc {
    min-height: 15.417em;
    margin-top: 0.667em;
    font-size: 12px;
  }

  .calendar .date-bg {
    top: 3.167em;
    height: 6.25em;
  }

  .calendar .month-bg {
    height: 3.167em;
  }

  .collaborators {
    height: 44.417em;
    border-top-width: 0.25em;
  }

  .collaborators .collaborators-contents {
    top: 2.417em;
    left: 0;
    right: 0;
    height: 37.75em;
    margin-right: auto;
    margin-left: auto;
  }

  .collaborators-contents .logo-collaborators {
    height: 33.583em;
    margin-top: 3.333em;
  }

  .contact-contents .contact-form {
    height: 12.917em;
    margin-top: 1.083em;
    width: 100%;
  }

  .disclaimer-contents{
    position: relative;
    height: auto;
  }

  .contributors {
    height: 150.417em;
    border-bottom-width: 0.25em;
  }

  .contributors .contributors-contents {
    top: 2.5em;
    left: 0;
    right: 0;
    width: 208px;
    height: 52.75em;
    margin-right: auto;
    margin-left: auto;
  }

  .date-bg .date {
    font-size: 3.333em;
  }

  .editorial {
    height: 85.167em;
    border-top-width: 0.25em;
  }

  .editorial .editorial-contents {
    top: 1.583em;
    left: 0;
    right: 0;
    height: 64.833em;
    margin-right: auto;
    margin-left: auto;
  }

  .editorial-contents .teammate1-contents {
    position: relative;
    z-index: 17;
    height: 17.5em;
    margin-top: 2.333em;
  }

  .editorial-contents .teammate2-contents {
    position: relative;
    z-index: 13;
    height: 18.167em;
    margin-top: 1.667em;
  }

  .editorial-contents .teammate3-contents {
    position: relative;
    z-index: 9;
    height: 18em;
    margin-top: 2.417em;
  }

  .event-contents .calendar {
    float: none;
    height: 9.417em;
    margin-top: 0.917em;
    margin-right: auto;
    margin-left: auto;
  }

  .event-contents .event-node {
    position: relative;
    float: none;
    z-index: 5;
    width: 92.3076923076%;
    height: 35em;
    margin-top: 0.417em;
    margin-right: auto;
    margin-left: auto;
  }

  .event-node .event-details {
    top: 3.333em;
    min-height: 10.833em;
    font-size: 12px;
    text-align: center;
  }

  .events .event-contents {
    width: 208px;
    height: 50.417em;
    margin-top: 3.333em;
  }

  .external-links-contents .external-links {
    height: 7.333em;
    margin-top: 1em;
  }

  .footer-contents .about-index-contents {
    top: 1.083em;
    left: 0;
    right: 0;
    height: 20.917em;
    margin-right: auto;
    margin-left: auto;
  }

  .footer-contents .contact-contents {
    position: relative;
    float: none;
    top: 0em;
    left: 0;
    right: 0;
    width: 100%;
    height: 24.167em;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
  }



  .footer-contents .social-container {
    top: 0em;
    left: 0;
    right: 0;
    height: 33.833em;
    margin-right: auto;
    margin-left: auto;
  }

  .header .header-content {
    left: 0;
    right: 0;
    width: 224px;
    height: 20em;
    margin-right: auto;
    margin-left: auto;
  }

  .header-content .subtitle {
    top: 11em;
    left: 0;
    right: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-size: 0.917em;
  }

  .hero {
    height: 750px;
  }

  .hero .hero-contents {
    width: 224px;
    height: 57.333em;
    margin-top: 2.75em;
  }

  .hero-contents .introduction {
    min-height: 16.667em;
    margin-top: 0.5em;
    font-size: 12px;
  }

  .index .admin-bar {
    height: 2.5em;
  }

  .index .header {
    height: 20.5em;
  }

  .links-page {
    height: auto;
  }

  .links-page .external-links-contents {
    top: 3.75em;
    left: 0;
    right: 0;
    width: 208px;
    height: 17.917em;
    margin-right: auto;
    margin-left: auto;
  }

  .location .object-location {
    width: 100.108409478%;
    height: 6.333em;
    margin-top: 0.5em;
  }

  .logo-collaborators .ehrc,
  .logo-collaborators .hrf {
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.667em;
  }

  .masthead {
    height: 6.833em;
    border-bottom-width: 0.25em;
  }

  .object .object-source {
    margin-top: 10px;
  }

  .object-contents .location {
    position: relative;
    float: none;
    clear: none;
    z-index: 15;
    width: 97.1153846153%;
    height: 200px;
    margin-top: 7em;
    margin-right: auto;
    margin-left: auto;
  }

  .object-contents .object {
    position: relative;
    z-index: 25;
    width: 97.1153846153%;
    height: auto;
    margin-top: 3.917em;
  }

  .object-description .object-description {
    height: auto;
    margin-top: 1.083em;
    font-size: 12px;
  }

  .object-display .object-slider {
    position: relative;
    z-index: 8;
    height: 14.917em;
    margin-top: 5.667em;
  }

  .objects .object-contents {
    width: 80%;
    height: auto;
  }

  .searchresults {
    height: 48.167em;
  }

  .searchresults .searchresults-display {
    width: 80%;
    height: 38.083em;
    margin-top: 2.5em;
    margin-left: 10%;
  }

  .social-container .social-links {
    height: 3.583em;
    margin-top: 17.417em;
  }

  .social-links .fb {
    margin-left: 27.77736%;
  }

  .social-links .twitter {
    margin-left: 12.49532%;
  }

  .summary-contents .weekly-objects {
    float: none;
    clear: none;
    height: 15.917em;
    margin-top: 2.75em;
    margin-right: auto;
    margin-left: auto;
  }

  .teammate1-contents .teammate1,
  .teammate2-contents .teammate2,
  .teammate3-contents .teammate3 {
    width: 150px;
    height: 12.5em;
    border-radius: 8.333em;
  }

  .timeline .weekly-timeline {
    width: 208px;
    height: 89.917em;
  }

  .weekly-summary .summary-text {
    min-height: 16.667em;
    margin-top: 1.083em;
    font-size: 12px;
  }

  .weekly-timeline .embed-timeline {
    height: 13.583em;
  }

  .weekly-timeline .summary-contents {
    width: 100%;
    height: 71.083em;
    margin-top: 4.833em;
  }

  .about-2 {
    top: 21.5em;
    height: auto;
  }

  .events-2 {
    height: 74.75em;
  }

  .logo-collaborators .image-1 {
    margin-top: 0;
  }

  .logo-collaborators .image-2 {
    margin-top: 21.833em;
  }

  .object-contents .object-description-1 {
    position: relative;
    top: 3.917em;
    z-index: 12;
    width: 97.1153846153%;
    height: auto;
    margin-top: 0.5em;
  }

  .object-contents .related-links-1 {
    width: 89.9038461538%;
    height: 10.583em;
    margin-top: 2em;
  }

  .objects-2 {
    height: auto;
  }

  .timeline-2 {
    height: 89.917em;
  }

  ._container .footer-contents-1 {
    width: 207px;
    height: 78.083em;
    margin-top: 3.417em;
  }

  .site-navigation {
  	top:11em;
  }

  .site-navigation ._container-2 {
    top: 0.75em;
    left: 1.9146412037%;
    width: 20.8333333333%;
  }

  .site-navigation ._container-3 {
    position: relative;
    z-index: 22;
    width: 23.6111111111%;
    margin-top: 0.75em;
    margin-left: 35.69712%;
  }

  .site-navigation ._container-4 {
    position: relative;
    z-index: 24;
    width: 28.2407407407%;
    margin-top: 0.75em;
    margin-left: 9.25481%;
  }

  .site-navigation ._container-5 {
    position: relative;
    clear: both;
    z-index: 26;
    width: 24.537037037%;
    margin-top: 0.583em;
    margin-left: 1.89303%;
  }

  .site-navigation ._container-6 {
    position: relative;
    z-index: 28;
    width: 24.074074074%;
    margin-top: 0.583em;
    margin-left: 12.01172%;
  }

  .site-navigation ._container-7 {
    position: relative;
    z-index: 30;
    width: 21.7592592592%;
    margin-top: 0.583em;
    margin-left: 13.8747%;
  }

  .weekly-objects ._container-16 {
    top: 3.167em;
  }

  .weekly-objects ._container-18 {
    top: 1.583em;
  }

  .logo-warwick {
	height: auto; 
	float: none; 
	margin-right: auto; 
	top: 0
}
}